.main {
    display: none;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
}

.main .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.main .topnav .logo {
    display: flex;
    width: 50%;
}
.main .topnav .logo img {
    width: 3rem;
    margin: 0 1rem;
}

.main .topnav .logo .house {
    padding: 0.7rem 0;
    transition: 300ms;
}
.main .topnav .logo .house:hover {
    background-color: rgb(53, 53, 53);
    border-radius: 5rem;
}

.main .topnav .logo .house img{
    width: 2rem;
}

.main .topnav .logo .search{
    margin: 0.5rem;
    width: 100%;
}

.main .topnav .logo .search input{
    background-color: #1f1f1f;
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
}

.main .topnav .right .premium {
    background-color: white;
    border-radius: 5rem;
    color: black;
    padding: 0.5rem 1rem;
}
.main .topnav .right .premium:hover {
    transform: scale(1.05);
}

/* Home */
.home {
    display: flex;
    border-radius: 0.5rem;
    padding: 1rem;
}

.home .music, .library {
    background-color: #121212;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
}

/* library */
.home p{
    font-size: 0.8rem;
    color: rgb(159, 159, 159);
}

.library {
    flex: 1;
}

.home .library .artist {
    display: flex;
}
.home .library .artist div{
    background-color: #2a2a2a;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    transition: 200ms;
}
.home .library .artist div:hover {
    background-color: rgb(139, 139, 139);
}

.home .library .library-card {
    display: flex;
}
.home .library .library-card img{
    border-radius: 0.5rem;
}

/* music */
.music {
    flex: 2;
    overflow-y: scroll;
    overflow-x: hidden; 
    height: 39rem;
}

.music nav {
    display: flex;
}

.music nav > div {
    border-radius: 3rem;
    background-color: #2a2a2a;
    padding: 0.5rem 1rem;
}

.music .popular-card {
    display: flex;
}
.music .popular-card img{
    border-radius: 0.5rem;
}
.music .music-card{
    display: flex;
}

.card {
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.card:hover {
    background-color: rgb(30, 30, 30);
}
.card img{
    width: 9.5rem;
    border-radius: 0.5rem;
}

.music .made-card{
    display: flex;
}

/* more */
.more {
    background: none;
    overflow-y: scroll;
    overflow-x: hidden; 
    height: 39rem;
}

.more .card {
    background-color: #121212;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-right: 7rem;
}

.more .card > div{
    margin: 1rem 0;
}

.about-artist img {
    border-radius: 100%;
    width: 4rem;
}

.more .queue-card {
    display: flex;
}
.more .queue-card img{
    width: 4rem;
}

/* webkit */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
